# System
desktop.ini
Thumbs.db
.DS_Store

# IDE
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# Ignore
docs/css/
docs/js/
docs/res/
docs/favicon.ico
docs/favicon.png
docs/index.html
notes/
